/* Основные стили */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

/* Контейнер */
.container {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 800px;
    width: calc(100% - 40px); /* отступы для таблицы */
    margin: 20px;
}

/* Заголовок */
h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

/* Таблица */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    table-layout: auto; /* Автоматическая подгонка ширины столбцов по содержимому */
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

table th, table td {
    padding: 12px 15px;
    text-align: center;
    vertical-align: middle;
    word-break: break-word; /* Перенос длинных слов */
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/* Форма */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
}

form input, form select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    max-width: 200px;
    box-sizing: border-box;
    margin-right: 10px; /* Отступ справа */
}

/* Кнопка */
.button {
    background-color: #009879;
    color: white;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #007f63;
}

/* Кнопка "Подобрать" */
.button-submit {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.button-submit:hover {
    background-color: #0056b3;
}

/* Сообщение о бронировании */
.booking-result {
    font-size: 2em;
    color: green;
    margin-top: 20px;
}
